.container{
	width:90%;
	margin:50px;
}
.table{
	width: 100%;
	display: table;
	border-collapse: collapse;

}
.row{
	display: table-row;
	width: auto;

}
.columnheader{
	display: table-cell;
	width: 32%;
	text-align: center;
	background: grey;
	color:white;
}
.column{
	/*float: left;*/
	display: table-cell;
	padding: 10px;
	/*margin: 2px auto;*/
	border-right: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;

}
input[type =text]{
	width:100%;
	padding: 7px;
	box-sizing:border-box;
	font-size: 14pt;
	border: 2px solid 	#008B8B;
}
ul{
	padding: 0
}
li{
	list-style-type: none;
	margin:0;
	padding: 0;
	font-size: 14pt;
}
li:hover {
	border:1px dotted gray ;
 }
input[type=checkbox]{
margin-right: 5px;
}
.line {
  text-decoration: line-through;
  text-decoration-color: red;
}
